synapse.matrix.<example.com> {
	reverse_proxy synapse:8008
}

web.matrix.<example.com> {
	reverse_proxy element:80
}

matrix.<example.com> {
	handle_path /.well-known/matrix/server {
		header Content-Type application/json
		header Access-Control-Allow-Origin *
		respond "{\"m.server\": \"synapse.matrix.<example.com>:443\"}" 200
	}

	handle_path /.well-known/matrix/client {
		header Content-Type application/json
		header Access-Control-Allow-Origin *
		respond "{\"m.homeserver\": {\"base_url\": \"https://synapse.matrix.<example.com>\"}}" 200
	}
}

rtc.matrix.<example.com> {
	handle_path /livekit/jwt/* {
		reverse_proxy jwt:8080 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
	}

	handle_path /livekit/sfu/* {
		reverse_proxy livekit:7880 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Accept-Encoding gzip
			header_up Upgrade {>Upgrade}
			header_up Connection {>Connection}
			transport http {
				read_timeout 120s
				write_timeout 120s
			}
		}
	}
}