DOMAIN=matrix.<example.com>

POSTGRES_VERSION=17.8
SYNAPSE_VERSION=latest
COTURN_VERSION=latest
ELEMENT_VERSION=latest
ADMIN_VERSION=latest
JWT_VERSION=latest

SYNAPSE_CONFIG_PATH=/data/homeserver.yaml

POSTGRES_USER=synapse
POSTGRES_PASSWORD=<COMPLEX_PASSWORD>
POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C

REACT_APP_SERVER=http://synapse:8008

LK_JWT_PORT=8080
LIVEKIT_URL=https://livekit.matrix.<example.com>
LIVEKIT_KEY=<SUPER_SECRET_KEY>
LIVEKIT_SECRET=<SUPER_SECRET_SECRET>
LIVEKIT_FULL_ACCESS_HOMESERVERS=matrix.<example.com>
