version: '3'

services:

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - "443:443/udp"
    volumes:
      - ./caddy/data:/data
      - ./caddy/config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile

  synapse:
    image: "matrixdotorg/synapse:${SYNAPSE_VERSION}"
    restart: unless-stopped
    environment:
      - SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
    volumes:
      - ./synapse:/data
    depends_on:
      - synapse_db
    ports:
      - "8008:8008"

  synapse_db:
    image: "docker.io/postgres:${POSTGRES_VERSION}"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=synapse
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - ./postgres:/var/lib/postgresql/data

  coturn:
    image: "instrumentisto/coturn:${COTURN_VERSION}"
    restart: unless-stopped
    volumes:
      - ./coturn:/etc/coturn
    ports:
      - "49160-49200:49160-49200/udp"
      - "3478:3478/tcp"
      - "3478:3478/udp"
      - "5349:5349"

  element:
    image: "vectorim/element-web:${ELEMENT_VERSION}"
    restart: unless-stopped
    volumes:
      - ./element/config.json:/app/config.json
    ports:
      - "81:80"

  synapse-admin:
    image: "awesometechnologies/synapse-admin"
    restart: unless-stopped
    depends_on:
      - synapse
    environment:
      - REACT_APP_SERVER=http://synapse:8008
    ports:
      - "8080:80"

  matrix-element-call-jwt:
    image: "ghcr.io/element-hq/lk-jwt-service:latest"
    container_name: matrix-element-call-jwt
    hostname: matrix-element-call-jwt
    environment:
      - LK_JWT_PORT=8080
      - LIVEKIT_URL=https://rtc.matrix.<example.com>/livekit/sfu
      - LIVEKIT_KEY=<SUPER_SECRET_KEY>
      - LIVEKIT_SECRET=<SUPER_SECRET_SECRET>
      - LIVEKIT_FULL_ACCESS_HOMESERVERS=matrix.<example.com>
    restart: unless-stopped
    ports:
      - "8080:8080"
      
  matrix-element-call-livekit:
    image: "livekit/livekit-server:latest"
    container_name: matrix-element-call-livekit
    hostname: matrix-element-call-livekit
    command: --dev --config /etc/livekit.yaml
    ports:
      - "7880:7880/tcp"
      - "7881:7881/tcp"
      - "50100-50200:50100-50200/udp"
    restart: unless-stopped
    volumes:
      - ./livekit/config.yaml:/etc/livekit.yaml:ro