version: '3'

services:

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - "443:443/udp"
    volumes:
      - <CONFIG_PATH>/caddy/data:/data
      - <CONFIG_PATH>/caddy/config:/config
      - <CONFIG_PATH>/caddy/Caddyfile:/etc/caddy/Caddyfile

  synapse:
    image: "matrixdotorg/synapse:${SYNAPSE_VERSION}"
    restart: unless-stopped
    environment:
      - SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
    volumes:
      - <CONFIG_PATH>/matrix/synapse:/data
    depends_on:
      - synapse_db
    ports:
      - "8008:8008"

  synapse_db:
    image: "docker.io/postgres:${POSTGRES_VERSION}"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=synapse
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - <CONFIG_PATH>/matrix/postgres:/var/lib/postgresql/data

  coturn:
    image: "instrumentisto/coturn:${COTURN_VERSION}"
    restart: unless-stopped
    volumes:
      - <CONFIG_PATH>/matrix/coturn:/etc/coturn
    ports:
      - "49160-49200:49160-49200/udp"
      - "3478:3478/tcp"
      - "3478:3478/udp"
      - "5349:5349"

  element:
    image: "vectorim/element-web:${ELEMENT_VERSION}"
    restart: unless-stopped
    volumes:
      - <CONFIG_PATH>/matrix/element/config.json:/app/config.json
    ports:
      - "81:80"

  synapse-admin:
    image: "awesometechnologies/synapse-admin"
    restart: unless-stopped
    depends_on:
      - synapse
    environment:
      - REACT_APP_SERVER=http://synapse:8008
    ports:
      - "8080:80"